<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Device</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter '
            />
            <!-- <button type='text'class="btn btn-social btn-min-width mr-2 mb-2 btn-reddit"  style='margin-left: 650px;'><span class="ft ft-plus"></span>Add Device </button> -->
            <!-- <div class="card-body">
                <div class="card-block">
                    <div ngbDropdown #myDrop1="ngbDropdown">
                        <button class="btn btn-social btn-min-width mr-2 mb-2 btn-reddit" style='margin-left: 650px;' id="dropdownMenu2" ngbDropdownToggle><span class="ft "></span>More Options</button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item">Device Informations</button>
                            <button class="dropdown-item">Installed Apps</button>
                            <button class="dropdown-item">View Logs</button>
                        </div>
                      </div>
                    </div>
                  </div> -->

            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows' [selected]="selected" [selectionType]="'cell'" (select)="onSelect($event)">
                <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
                </ngx-datatable-column>
                          <ngx-datatable-column name="Action" sortable="false" >
                            <ng-template let-row="data" let-value="value" ngx-datatable-cell-template>
                              <button class="btn btn-secondary btn-fab btn-delete">
                                  <i  class="fa fa-trash"></i>
                              </button>
                            </ng-template>
              </ngx-datatable-column>

            </ngx-datatable>


        </div>
    </div>
</section>
<!-- Filter Datatable Options Ends -->
