<!--Input Group Starts-->
<section id="input-groups">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Input groups</div>
            <p class="content-sub-header">Easily extend form controls by adding text, buttons, or button groups on either side of textual inputs, custom selects, and custom file inputs.</p>
        </div>
    </div>
    <!--Basic Input Groups Starts-->
    <section id="basic-input-group">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Input Groups</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                                </div>
                            </div>
                            <br>
                            <label for="basic-url">Your vanity URL</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                </div>
                                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                            <br>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <br>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                    <span class="input-group-text">0.00</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Basic Input Groups Ends-->

    <!--Input Groups Sizing Starts-->
    <section id="input-group-sizing">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Input Groups Sizing</h4>
                        <p>Add the relative form sizing classes to the <code>.input-group</code> itself and contents within will automatically resize—no need for repeating the form control size classes on each element.</p>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="sizing-addon1">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="sizing-addon2">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
                            </div>

                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="sizing-addon3">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Input Groups Sizing Ends-->

    <!--Checkboxes addons Starts-->
    <section id="checkbox-radio">
        <div class="row match-height text-left">
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Checkboxes addons</h4>
                        <p>Place any checkbox option within an input group's addon instead of text.</p>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <input type="checkbox" aria-label="Checkbox for following text input">
                                    </span>
                                </div>
                                <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Radio addons</h4>
                        <p>Place any radio option within an input group's addon instead of text.</p>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <input type="radio" aria-label="Radio button for following text input">
                                    </span>
                                </div>
                                <input type="text" class="form-control">
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Checkboxes addons Ends-->

    <!--Button addons Starts-->
    <section id="buttons-addons">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Button addons</h4>
                        <p>Buttons in input groups are a bit different and require one extra level of nesting. Instead of <code>.input-group-addon</code>, you'll need to use <code>.input-group-btn</code> to wrap the buttons. This is required due to default browser styles that cannot be overridden.</p>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-btn">
                                                <button class="btn btn-outline-primary" type="button">Go!</button>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Search for...">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                                <div class="col-lg-6">
                                    <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <div class="input-group-append">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-raised btn-primary" type="button">Go!</button>
                                                </span>
                                            </div>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Button addons Ends-->

    <!--Buttons with dropdowns Starts-->
    <section id="buttons-dropdown">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Buttons with dropdowns</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <span ngbDropdown>
                                                <button class="btn btn-outline-danger btn-raised" id="dropdownBasic2" ngbDropdownToggle>Action</button>
                                                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
                                                    <button class="dropdown-item">Action</button>
                                                    <button class="dropdown-item">Another Action</button>
                                                    <button class="dropdown-item">Something else is here</button>
                                                </div>
                                            </span>
                                        </div>
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span ngbDropdown>
                                                <button class="btn btn-success btn-raised" id="dropdownBasic2" ngbDropdownToggle>Action</button>
                                                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBasic2">
                                                    <button class="dropdown-item">Action</button>
                                                    <button class="dropdown-item">Another Action</button>
                                                    <button class="dropdown-item">Something else is here</button>
                                                </div>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->
                            </div><!-- /.row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Buttons with dropdowns Ends-->

    <!--Multiple buttons Starts-->
    <section id="multiple-buttons">
        <div class="row text-left">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Multiple buttons</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-raised btn-success" aria-label="Add">
                                                    <i class="ft-plus"></i>
                                                </button>
                                                <button type="button" class="btn btn-raised btn-danger" aria-label="Edit">
                                                    <i class="ft-edit-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-raised btn-warning" aria-label="Copy">
                                                    <i class="ft-copy"></i>
                                                </button>
                                                <button type="button" class="btn btn-raised btn-info" aria-label="Paste">
                                                    <i class="icon-docs"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Multiple buttons Ends-->
</section>
<!--Input Group Ends-->