<!--Basic google map starts-->
<section id="map">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Google Map</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block mt-2">
                        <agm-map [latitude]="lat" [longitude]="lng">
                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        </agm-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic google map ends-->