<div class="row text-left">
  <div class="col-sm-12">
    <div class="content-header">Drag and Drop</div>
    <p class="content-sub-header">Simple angular drag and drop with dragula.</p>
  </div>
</div>
<!-- Drap and Drop Starts -->
<section id="dragndrop">

  <div class="card text-left">
    <div class="card-header">

      <h4>Basic Drag and Drop</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>Move stuff between these two containers. Note how the stuff gets inserted near the mouse pointer? Great stuff.</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"first-bag"'>
                <div>You can move these elements between these two containers</div>
                <div>Moving them anywhere else isn't quite possible</div>
                <div>There's also the possibility of moving elements around in the same container, changing their position
                </div>
              </div>
              <div class='drag-drop-container' [dragula]='"first-bag"'>
                <div>This is the default use case. You only need to specify the containers you want to use</div>
                <div>More interactive use cases lie ahead</div>
                <div>Make sure to check out the
                  <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Sort the items</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>Need to be able to quickly delete stuff when it spills out of the chosen containers? Note how you can easily
              sort the items in any containers by just dragging and dropping.</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"third-bag"' [dragulaOptions]="thirdOptions">
                <div>Banana Boat</div>
                <div>Orange Juice</div>
                <div>Cuban Cigar</div>
                <div>Terrible Comedian</div>
                <div>Anxious Cab Driver</div>
                <div>Thriving Venture</div>
                <div>Calm Clam</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Drag and Drop Events</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="parent">
            <label for="hy">There are plenty of events along the lifetime of a drag event.
              <a href="https://github.com/bevacqua/dragula#drakeon-events">all of them</a> in the docs!</label>
            <div class="drag-drop-wrapper">
              <div class="drag-drop-container" [dragula]="'second-bag'">
                <div>As soon as you start dragging an element, a
                  <code>drag</code> event is fired</div>
                <div>Whenever an element is cloned because
                  <code>copy: true</code>, a
                  <code>cloned</code> event fires</div>
                <div>The
                  <code>shadow</code> event fires whenever the placeholder showing where an element would be dropped is moved
                  to a different container or position</div>
                <div>A
                  <code>drop</code> event is fired whenever an element is dropped anywhere other than its origin
                  <em>(where it was initially dragged from)</em>
                </div>
              </div>
              <div class="drag-drop-container" [dragula]="'second-bag'">
                <div>If the element gets removed from the DOM as a result of dropping outside of any containers, a
                  <code>remove</code> event gets fired</div>
                <div>A
                  <code>cancel</code> event is fired when an element would be dropped onto an invalid target, but retains
                  its original placement instead
                </div>
                <div>The
                  <code>over</code> event fires when you drag something over a container, and
                  <code>out</code> fires when you drag it away from the container</div>
                <div>Lastly, a
                  <code>dragend</code> event is fired whenever a drag operation ends, regardless of whether it ends in a
                  cancellation, removal, or drop</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Drag and Drop using Handle</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>Drag handles float your cruise?</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"sixth-bag"' [dragulaOptions]="sixthOptions">
                <div>
                  <span class='handle'>+</span>Move me, but you can use the plus sign to drag me around.</div>
                <div>
                  <span class='handle'>+</span>Note that
                  <code>handle</code> element in the
                  <code>moves</code> handler is just the original event target.
                </div>
              </div>
              <div class='drag-drop-container' [dragula]='"sixth-bag"' [dragulaOptions]="sixthOptions">
                <div>
                  <span class='handle'>+</span>This might also be useful if you want multiple children of an element to be
                  able to trigger a drag event.
                </div>
                <div>
                  <span class='handle'>+</span>You can also use the
                  <code>moves</code> option to determine whether an element can be dragged at all from a container,
                  <em>drag handle or not</em>.
                </div>
              </div>
            </div>
            <div>There are a few similar mechanisms to determine whether an element can be dragged from a certain container
              <a href='https://github.com/bevacqua/dragula#optionsmoves'>(
                <code>moves</code>)</a>, whether an element can be dropped into a certain container at a certain
              position
              <a href='https://github.com/bevacqua/dragula#optionsaccepts'>(
                  <code>accepts</code>)</a>, and whether an element is able to originate a drag event
              <a href='https://github.com/bevacqua/dragula#optionsinvalid'>(
                  <code>invalid</code>)</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Angular Specific</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>
              <strong>Angular-specific example.</strong> Fancy some nested
              <code>ngFor</code>?</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container text-center' *ngFor='let group of groups' [dragula]="'nested-bag'">
                <span>{{group.name}}</span>
                <div *ngFor='let item of group.items' [innerHtml]='item.name'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Angular Specific With Output</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>
              <strong>Angular-specific example.</strong> Fancy some
              <code>ngFor</code>?</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"another-bag"' [dragulaModel]='many'>
                <div *ngFor='let text of many' [innerHtml]='text'></div>
              </div>
              <div class='drag-drop-container' [dragula]='"another-bag"' [dragulaModel]='many2'>
                <div *ngFor='let text of many2' [innerHtml]='text'></div>
              </div>
            </div>
            <p class="mt-3">Output :</p>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container'>
                <pre>{{many | json}}</pre>
              </div>
              <div class='drag-drop-container'>
                <pre>{{many2 | json}}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Revert On Spill</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>By default, dropping an element outside of any known containers will keep the element in the last place it went
              over. You can make elements go back to origin if they're dropped outside of known containers, too.
            </label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"fourth-bag"' [dragulaOptions]="fourthOptions">
                <div>Moving items between containers works as usual</div>
                <div>If you try to drop an item outside of any containers, though, it'll retain its original position</div>
                <div>When that happens, a
                  <code>cancel</code> event will be raised</div>
              </div>
              <div class='drag-drop-container' [dragula]='"fourth-bag"' [dragulaOptions]="fourthOptions">
                <div>Note that the dragged element will go back to the place you originally dragged it from, even if you move
                  it over other containers
                </div>
                <div>This is useful if you want to ensure drop events only happen when the user intends for them to happen explicitly,
                  avoiding surprises
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Copy Dragged Element</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label for='hy'>Copying stuff is common too, so we made it easy for you.</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"fifth-bag"' [dragulaOptions]="fifthOptions">
                <div>When elements are copyable, they can't be sorted in their origin container</div>
                <div>Copying prevents original elements from being dragged. A copy gets created and
                  <em>that</em> gets dragged instead
                </div>
                <div>Whenever that happens, a
                  <code>cloned</code> event is raised</div>
              </div>
              <div class='drag-drop-container' [dragula]='"fifth-bag"' [dragulaOptions]="fifthOptions">
                <div>Note that the clones get destroyed if they're not dropped into another container</div>
                <div>You'll be dragging a copy, so when they're dropped into another container you'll see the duplication.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <h4>Click or Drag</h4>
    </div>
    <div class="card-block">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class='parent'>
            <label>
              <strong>Click or Drag!</strong> Fires a click when the mouse button is released before a
              <code>mousemove</code> event, otherwise a drag event is fired. No extra configuration is necessary.</label>
            <div class='drag-drop-wrapper'>
              <div class='drag-drop-container' [dragula]='"seventh-bag"'>
                <div (click)='onclick("one")'>{{clicked.one ? "Clicked!" : "Clicking on these elements triggers a regular click event you can listen to."}}</div>
                <div (click)='onclick("two")'>{{clicked.two ? "Clicked!" : "Try dragging or clicking on this element."}}</div>
                <div (click)='onclick("three")'>{{clicked.three ? "Clicked!" : "Note how you can click normally?"}}</div>
                <div (click)='onclick("four")'>{{clicked.four ? "Clicked!" : "Drags don't trigger click events."}}</div>
                <div (click)='onclick("five")'>{{clicked.five ? "Clicked!" : "Clicks don't end up in a drag, either."}}</div>
                <div (click)='onclick("six")'>{{clicked.six ? "Clicked!" : "This is useful if you have elements that can be both clicked or dragged."}}</div>
                <div (click)='onclick("seven")'>{{clicked.seven ? "ZOMG, THAT TICKLES! PLEASE. STOP." : "Business as usual."}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Drap and Drop Ends -->