<section id="tabs">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Tags</div>
    </div>
  </div>

<!-- <button *ngIf="preapproveddevice == 'true'" type='text' (click)="open(content)" style='padding:8px;margin:20px auto;width:15%;margin-left: 828px;'>Add Device</button> -->
<!-- <button *ngIf="licencekey == 'true'" type='text' (click)="openlicence(contentlicenced)" style='padding:8px;margin:20px auto;width:15%;margin-left: 828px;'>Add Licence</button> -->
<div class="row text-left">
  <!--Pills Starts-->
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <ngb-tabset (tabChange)="enablepreapproved($event)" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>Devices</ng-template>
              <ng-template ngbTabContent>
                <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>
                        </div>
                    </div>
                </section>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Users</ng-template>
              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="" [loadingIndicator]="loadingIndicator" [columns]="columnslicenced" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>


                        </div>
                    </div>
                </section></ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <!--Pills Ends-->
</div>
</section>
