<div class="row">
    <div class="col-sm-12">
        <div class="content-header text-left">Grid</div>
    </div>
</div>
<!--Bootstrap Grid options Starts-->
<section id="grid-option">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-left">
                    <h4 class="card-title ">Bootstrap Grid options</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped text-left">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th> Extra small devices <small>Phones (&lt;768px)</small> </th>
                                        <th> Small devices <small>Tablets (≥768px)</small> </th>
                                        <th> Medium devices <small>Desktops (≥992px)</small> </th>
                                        <th> Large devices <small>Desktops (≥1200px)</small> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Grid behavior</th>
                                        <td>Horizontal at all times</td>
                                        <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Container width</th>
                                        <td>None (auto)</td>
                                        <td>750px</td>
                                        <td>970px</td>
                                        <td>1170px</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Class prefix</th>
                                        <td><code>.col-</code></td>
                                        <td><code>.col-</code></td>
                                        <td><code>.col-md-</code></td>
                                        <td><code>.col-lg-</code></td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row"># of columns</th>
                                        <td colspan="4">12</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Column width</th>
                                        <td class="text-muted">Auto</td>
                                        <td>~62px</td>
                                        <td>~81px</td>
                                        <td>~97px</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Gutter width</th>
                                        <td colspan="4">30px (15px on each side of a column)</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Nestable</th>
                                        <td colspan="4">Yes</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Offsets</th>
                                        <td colspan="4">Yes</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap" scope="row">Column ordering</th>
                                        <td colspan="4">Yes</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--Bootstrap Grid options Ends-->
<!--Bootstrap Grid Stats Starts-->
<section id="grid">
    <div class="row text-left">
        <div class="col-12">
            <h4>Bootstrap Grid</h4>
            <p>Using a single set of <code>.col-md-*</code> grid classes, you can create a basic grid system that starts out stacked on mobile devices and tablet devices (the extra small to small range) before becoming horizontal on desktop (medium) devices. Place grid columns in any <code>.row</code>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    2
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    3
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    4
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    5
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    6
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-7 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    7
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    8
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-9 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    9
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    10
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-11 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    11
                </div>
            </div>
        </div>
        <div class="col-1 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    1
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pr-1">
            <div class="card px-0">
                <div class="text-center py-3">
                    12
                </div>
            </div>
        </div>
    </div>
</section>
<!--Bootstrap Grid Stats Starts-->