<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Device</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
                      <!-- <button type='text'class="btn btn-social btn-min-width mr-2 mb-2 btn-reddit"  style='margin-left: 650px;'><span class="ft ft-plus"></span>Add Device </button> -->
            <!-- <div class="card-body">
                <div class="card-block">
                    <div ngbDropdown #myDrop1="ngbDropdown">
                        <button class="btn btn-social btn-min-width mr-2 mb-2 btn-reddit" style='margin-left: 650px;' id="dropdownMenu2" ngbDropdownToggle><span class="ft "></span>More Options</button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item">Device Informations</button>
                            <button class="dropdown-item">Installed Apps</button>
                            <button class="dropdown-item">View Logs</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-md-12 col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="card-block">
                          <ngb-tabset  type="pills">
                            <ngb-tab>
                              <ng-template ngbTabTitle>Device Action</ng-template>
                              <ng-template ngbTabContent>
                                <section id="basic-datatable" class="mb-3">
                                    <div class="row">
                                      <ngb-tabset  type="pills">
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Locate</ng-template>
                                          <ng-template ngbTabContent>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="card-block mt-2">
                                                              <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
                                                                <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
                                                              </agm-map>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Notify</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                                <div class="row">


                                                  <!-- <form class="form">
                            							<div class="form-body">
                            		                        <div class="row center">
                            		                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            		                                <fieldset class="form-group">
                            		                                    <label for="basicInput">IMG Url</label>
                            		                                    <input type="text" class="form-control" id="basicInput" >
                            		                                </fieldset>
                            		                            </div>
                                                            <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                            		                                <fieldset class="form-group">
                            		                                    <label for="basicInput">Message</label>
                            		                                    <input type="text" class="form-control" id="basicInput" >
                            		                                </fieldset>
                            		                            </div>
                            		                        </div>
                            		                    </div>
                            						</form> -->
                                        <div class="row text-left justify-content-md-center">
                                      		<div class="">
                                      			<div class="" style="width:400px">
                                      				<div class="card-body">
                                      					<div class="px-3">
                                      						<form class="form">
                                      							<div class="form-body">

                                      								<div class="form-group">
                                      									<label for="eventRegInput1">IMG Url</label>
                                      									<input type="text" id="eventRegInput1" class="form-control"  name="fullname">
                                      								</div>

                                      								<div class="form-group">
                                      									<label for="eventRegInput2">Mesaage</label>
                                      									<input type="text" id="eventRegInput2" class="form-control"  name="title">
                                      								</div>


                                      							</div>

                                      							<div class="form-actions center">
                                      								<button type="button" class="btn btn-raised btn-warning mr-1">
                                      									<i class="ft-x"></i> Cancel
                                      								</button>
                                      								<button type="button" class="btn btn-raised btn-primary">
                                      									<i class="fa fa-check-square-o"></i> Save
                                      								</button>
                                      							</div>
                                      						</form>
                                      					</div>
                                      				</div>
                                      			</div>
                                      		</div>
                                      	</div>


                                                </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Lock Device</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                                <div class="row">
                                                  <div class="row text-left justify-content-md-center">
                                                    <div class="">
                                                      <div class="" style="width:400px">
                                                        <div class="card-body">
                                                          <div class="px-3">
                                                            <form class="form">
                                                              <div class="form-body">
                                                                <div class="form-group">
                                                                  <label for="eventRegInput1">Lock Screen Password</label>
                                                                  <input type="text" id="eventRegInput1" class="form-control"  name="fullname">
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="eventRegInput2">Login Password</label>
                                                                  <input type="text" id="eventRegInput2" class="form-control"  name="title">
                                                                </div>
                                                              </div>
                                                              <div class="form-actions center">
                                                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                                                  <i class="ft-x"></i> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-raised btn-primary">
                                                                  <i class="fa fa-check-square-o"></i> Save
                                                                </button>
                                                              </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Mark Lost<div ng-include="/deviceenrollment"></div></ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                                <div class="row">
                                                  <div class="row text-left justify-content-md-center">
                                                    <div class="">
                                                      <div class="" style="width:400px">
                                                        <div class="card-body">
                                                          <div class="px-3">
                                                            <form class="form">
                                                              <div class="form-body">
                                                                <div class="form-group">
                                                                  <label for="eventRegInput2">Login Password</label>
                                                                  <input type="text" id="eventRegInput2" class="form-control"  name="title">
                                                                </div>
                                                              </div>
                                                              <div class="form-actions center">
                                                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                                                  <i class="ft-x"></i> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-raised btn-primary">
                                                                  <i class="fa fa-check-square-o"></i> Save
                                                                </button>
                                                              </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Reset Password</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                                <div class="row">
                                                  <div class="row text-left justify-content-md-center">
                                                    <div class="">
                                                      <div class="" style="width:400px">
                                                        <div class="card-body">
                                                          <div class="px-3">
                                                            <form class="form">
                                                              <div class="form-body">
                                                                <div class="form-group">
                                                                  <label for="eventRegInput1">New Password</label>
                                                                  <input type="text" id="eventRegInput1" class="form-control"  name="fullname">
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="eventRegInput2">Login Password</label>
                                                                  <input type="text" id="eventRegInput2" class="form-control"  name="title">
                                                                </div>
                                                              </div>
                                                              <div class="form-actions center">
                                                                <button type="button" class="btn btn-raised btn-warning mr-1">
                                                                  <i class="ft-x"></i> Cancel
                                                                </button>
                                                                <button type="button" class="btn btn-raised btn-primary">
                                                                  <i class="fa fa-check-square-o"></i> Save
                                                                </button>
                                                              </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                        <!-- <ngb-tab>
                                          <ng-template ngbTabTitle>Take Picture</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                                <div class="row">
                                                  <div class="row text-left justify-content-md-center">
                                                    <div class="">
                                                      <div class="" style="width:400px">
                                                        <div class="card-body">
                                                          <div class="px-3">
                                                            <form class="form">
                                                              <div class="form-body">
                                                                <div class="form-group">
                                                                  <label for="eventRegInput1" style="    color: #100b0b;">Please Contact Support Team</label>

                                                                </div>

                                                              </div>
                                                            </form>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Start Video</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                            <div class="row">
                                              <div class="row text-left justify-content-md-center">
                                                <div class="">
                                                  <div class="" style="width:400px">
                                                    <div class="card-body">
                                                      <div class="px-3">
                                                        <form class="form">
                                                          <div class="form-body">
                                                            <div class="form-group">
                                                              <label for="eventRegInput1" style="    color: #100b0b;">Please Contact Support Team</label>

                                                            </div>

                                                          </div>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            </section></ng-template>
                                        </ngb-tab> -->
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Scream</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                            <div class="row">
                                              <div class="row text-left justify-content-md-center">
                                                <div class="">
                                                  <div class="" style="width:400px">
                                                    <div class="card-body">
                                                      <div class="px-3">
                                                        <form class="form">
                                                          <div class="form-body">
                                                            <div class="form-group">
                                                              <label for="eventRegInput1" style="    color: #100b0b;">Please Contact Support Team</label>

                                                            </div>

                                                          </div>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle>Wipe Data</ng-template>
                                          <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                            <div class="row">
                                              <div class="row text-left justify-content-md-center">
                                                <div class="">
                                                  <div class="" style="width:400px">
                                                    <div class="card-body">
                                                      <div class="px-3">
                                                        <form class="form">
                                                          <div class="form-body">
                                                            <div class="form-group">
                                                              <label for="eventRegInput1" style="    color: #100b0b;">Please Contact Support Team</label>

                                                            </div>

                                                          </div>
                                                        </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            </section></ng-template>
                                        </ngb-tab>
                                      </ngb-tabset>
                                    </div>
                                </section>
                              </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>Device Info</ng-template>
                              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                    <div class="row">

                                      <!-- Basic Textarea start -->
                                      <section class="basic-textarea">
                                          <div class="row text-left">
                                              <div class="col-md-12">
                                                  <div class="card">
                                                      <div class="card-header">
                                                      	<h4 class="card-title mb-0">Basic Info</h4>
                                                      </div>
                                                      <div class="card-body">
                                                          <div class="card-block">
                                                          	<form class="form">
                                      							<div class="form-body">
                                                      <div class="row">
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="basicInput">IMEI Number</label>
                                                                  <input type="text" readonly="readonly" class="form-control" id="basicInput" value="98787685766545645">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="helpInputTop">Mobile Number</label>

                                                                  <input type="text" class="form-control" readonly="readonly" id="helpInputTop" value="8756745654">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">OS Version</label>
                                                                  <input type="text" class="form-control" readonly="readonly" id="disabledInput" value="7.0">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">Brand</label>
                                                                  <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="vivo">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">Model</label>
                                                                  <input type="email" class="form-control" id="placeholderInput" readonly="readonly" value="vivo 1713">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">Build Version</label>
                                                                  <input type="email" class="form-control" id="placeholderInput" readonly="readonly" value="NRD90M release-keys">
                                                              </fieldset>
                                                          </div>
                                                        </div>
                                                      </div>
                                                            </form>
                                                        </div>
                                                      </div>
                                                      <div class="card-header">
                                                        <h4 class="card-title mb-0">Device Settings</h4>
                                                      </div>
                                                          <div class="card-body">
                                                              <div class="card-block">
                                                              	<form class="form">
                                                                  <div class="form-body">
                                                                    <div class="row">


                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="basicInput">Status</label>
                                                                  <input type="text" readonly="readonly" class="form-control" id="basicInput" value="Enrolled">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="helpInputTop">IsAdmin</label>

                                                                  <input type="text" class="form-control" readonly="readonly" id="helpInputTop" value="yes">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">ADB Enabled</label>
                                                                  <input type="text" class="form-control" readonly="readonly" id="disabledInput" value="yes">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">Sideload Enabled</label>
                                                                  <input type="text" class="form-control" id="readonlyInput" readonly="readonly" value="yes">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">Wifi Usage(in MB)</label>
                                                                  <input type="email" class="form-control" id="placeholderInput" readonly="readonly" value="420">
                                                              </fieldset>
                                                          </div>
                                                          <div class="col-xl-4 col-lg-6 col-md-12 mb-1">
                                                              <fieldset class="form-group">
                                                                  <label for="disabledInput">Data Usage Permission</label>
                                                                  <input type="email" class="form-control" id="placeholderInput" readonly="readonly" value="yes">
                                                              </fieldset>
                                                          </div>
                                                      </div>
                                      							</div>
                                      						</form>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </section>
                                      <!-- Basic Textarea end -->
                                    </div>
                                </section></ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>Installed Apps</ng-template>
                              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">

                                      <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                          [rowHeight]="'auto'" [limit]="10" [rows]='rows' [selected]="selected" [selectionType]="'cell'" (select)="onSelect($event)">
                                      </ngx-datatable>
                                </section></ng-template>
                            </ngb-tab>
                            <ngb-tab>
                              <ng-template ngbTabTitle>View Logs</ng-template>
                              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                                    <div class="row">
                                        Coming Soon!!!!!!!
                                    </div>
                                </section></ng-template>
                            </ngb-tab>

                          </ngb-tabset>
<hr>
                        </div>
                      </div>
                    </div>
                  </div>

        </div>
    </div>
</section>
