<!-- horizontal grid start -->
<section class="horizontal-grid" id="horizontal-grid">
	<div class="row text-left">
        <div class="col-12">
            <div class="content-header">Form Input Grid</div>
        </div>
    </div>
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Horizontal Grid</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="row">
									<div class="col-1">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="1">
										</div>
									</div>
									<div class="col-11">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-11">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-2">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
									<div class="col-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-3">
										</div>
									</div>
									<div class="col-9">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-9">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-5">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-5">
										</div>
									</div>
									<div class="col-7">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-7">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- horizontal grid end -->



<!-- Grid With Row Label start -->
<section class="grid-row-label" id="grid-row-label">
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Grid With Row Label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<label>Row Label </label>
								<div class="row">
									<div class="col-1">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="1">
										</div>
									</div>
									<div class="col-11">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-11">
										</div>
									</div>
								</div>
								<label>Row Label </label>
								<div class="row">
									<div class="col-2">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
									<div class="col-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<label>Row Label </label>
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-3">
										</div>
									</div>
									<div class="col-9">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-9">
										</div>
									</div>
								</div>
								<label>Row Label </label>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<label>Row Label </label>
								<div class="row">
									<div class="col-5">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-5">
										</div>
									</div>
									<div class="col-7">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-7">
										</div>
									</div>
								</div>
								<label>Row Label </label>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Grid With Row Label end -->



<!-- Grid With Label start -->
<section class="grid-with-label" id="grid-with-label">
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Grid With Label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="row">
									<div class="col-1">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="1">
										</div>
									</div>
									<div class="col-11">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-11">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-2">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
									<div class="col-10">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-3">
										</div>
									</div>
									<div class="col-9">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-9">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
									<div class="col-8">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-5">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-5">
										</div>
									</div>
									<div class="col-7">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-7">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
									<div class="col-6">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Grid With Label end -->



<!-- Left Alignment start -->
<section class="left-right-offset" id="left-right-offset">
	<div class="row text-left" matchHeight ="card">
		<div class="col-xl-6 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Left Alignment</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-12">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-11">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-11">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-9">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-9">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-7">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-7">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-5">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-5">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-3">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-3">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-2">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-1">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="1">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-left">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Right Alignment</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="row justify-content-end">
									<div class="col-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-12">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-11">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-11">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-9">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-9">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-7">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-7">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-5">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-5">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-3">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-3">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-2">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
								</div>
								<div class="row justify-content-end">
									<div class="col-1">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="11">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Left Right Offset end -->



<!-- Centered Input start -->
<section class="checkbox-input-grid" id="checkbox-input-grid">
	<div class="row text-left" matchHeight ="card">
		<div class="col-xl-6 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Centered Input</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="row justify-content-center">
									<div class="col-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-12">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-2">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-10">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-12">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="col-12">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-center">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-6 col-lg-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Centered Input with Default label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="row justify-content-center">
									<div class="col-12">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-12">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-10">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-10">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-9">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-8">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-6">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-6">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-4">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-4">
										</div>
									</div>
								</div>
								<div class="row justify-content-center">
									<div class="col-2">
										<div class="form-group">
											<label>Label</label>
											<input type="text" class="form-control" placeholder="col-2">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-center">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Centered Input end -->



<!-- Grid with Row Label start -->
<section class="grid-with-inline-row-label" id="grid-with-inline-row-label">
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Grid With Row Label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="form-group">
									<div class="row">
										<label class="col-lg-1">Label</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-1">
													<input type="text" class="form-control" placeholder="col-1">
												</div>

												<div class="col-11">
													<input type="text" class="form-control" placeholder="col-11">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<label class="col-lg-1">Label</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-2">
													<input type="text" class="form-control" placeholder="col-2">
												</div>

												<div class="col-10">
													<input type="text" class="form-control" placeholder="col-10">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<label class="col-lg-1">Label</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-3">
													<input type="text" class="form-control" placeholder="col-3">
												</div>

												<div class="col-9">
													<input type="text" class="form-control" placeholder="col-9">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<label class="col-lg-1">Label</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-4">
													<input type="text" class="form-control" placeholder="col-4">
												</div>

												<div class="col-8">
													<input type="text" class="form-control" placeholder="col-8">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<label class="col-lg-1">Label</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-5">
													<input type="text" class="form-control" placeholder="col-5">
												</div>

												<div class="col-7">
													<input type="text" class="form-control" placeholder="col-7">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<label class="col-lg-1">Label</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-6">
													<input type="text" class="form-control" placeholder="col-6">
												</div>

												<div class="col-6">
													<input type="text" class="form-control" placeholder="col-6">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Grid with Row Label end -->



<!-- Grid With Inline Labels start -->
<section class="grid-with-inline-labels" id="grid-with-inline-labels">
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Grid With Inline Input Label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="form-group">
									<div class="row">
										<div class="col-2">
											<div class="row">
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-2">
												</div>
												<label class="col-md-4">Label </label>
											</div>
										</div>
										<div class="col-10">
											<div class="row">
												<label class="col-md-4 text-right">Label </label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-10">
												</div>
											</div>
										</div>
									</div>								
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-3">
											<div class="row">
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-3">
												</div>
												<label class="col-md-4">Label </label>
											</div>
										</div>
										<div class="col-9">
											<div class="row">
												<label class="col-md-4 text-right">Label </label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-9">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-4">
											<div class="row">
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-4">
												</div>
												<label class="col-md-4">Label </label>
											</div>
										</div>
										<div class="col-8">
											<div class="row">
												<label class="col-md-4 text-right">Label </label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-8">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-5">
											<div class="row">
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-5">
												</div>
												<label class="col-md-4">Label </label>
											</div>
										</div>
										<div class="col-7">
											<div class="row">
												<label class="col-md-4 text-right">Label </label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-7">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-6">
											<div class="row">
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-6">
												</div>
												<label class="col-md-4">Label </label>
											</div>
										</div>
										<div class="col-6">
											<div class="row">
												<label class="col-md-4 text-right">Label </label>
												<div class="col-md-8">
													<input type="text" class="form-control" placeholder="col-6">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Grid With Inline Labels end -->



<!-- Multiple Inputs with Label start -->
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Multiple Input With Default Label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<label>Label </label>
								<div class="row">
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="First Input &amp; First Row">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="First Input &amp; Second Row">
										</div>
									</div>
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Second Input &amp; First Row">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Second Input &amp; Second Row">
										</div>
									</div>
								</div>

								<label>Multiple width Input Label</label>
								<div class="row">
									<div class="col-7">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="First Input &amp; First Row">
										</div>
									</div>
									<div class="col-5">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Second Input &amp; First Row">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-8">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="First Input &amp; Second Row">
										</div>
									</div>
									<div class="col-4">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Second Input &amp; Second Row">
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Multiple Inputs with Label end -->



<!-- Multiple Inputs with Inline Label start -->
<section class="multiple-input-with-inline-labels" id="multiple-input-with-inline-labels">
	<div class="row text-left">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title mb-0">Multiple Input With Inline Label</h4>
				</div>
				<div class="card-body">
					<div class="card-block">
						<form action="#">
							<div class="form-body">
								<div class="form-group">
									<div class="row">
										<label class="col-2">Label </label>
										<div class="col-10">
											<div class="row">
												<div class="col-4">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="First Input &amp; First Row">
													</div>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="First Input &amp; Second Row">
													</div>
												</div>
												<div class="col-8">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Second Input &amp; First Row">
													</div>
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Second Input &amp; Second Row">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="row">
										<label class="col-2">Multiple width Input Label </label>
										<div class="col-10">
											<div class="row">
												<div class="col-7">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="First Input &amp; First Row">
													</div>
												</div>
												<div class="col-5">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Second Input &amp; First Row">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-8">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="First Input &amp; Second Row">
													</div>
												</div>
												<div class="col-4">
													<div class="form-group">
														<input type="text" class="form-control" placeholder="Second Input &amp; Second Row">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									<button type="button" class="btn btn-raised btn-primary">Submit <i class="ft-thumbs-up position-right"></i></button>
									<button type="reset" class="btn btn-raised btn-warning">Reset <i class="ft-refresh-cw position-right"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Multiple Inputs with Inline Label end -->