<!--Basic Badges Starts-->
<section id="basic-badges">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Badges</div>
        </div>
    </div>
    <div class="row text-left" matchHeight ="card">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Primary Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Primary, colored badge use <code>.badge-primary</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-primary">Primary</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Secondary Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Secondary, colored badge use <code>.badge-secondary</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-secondary">Secondary</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Success Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Success, colored badge use <code>.badge-success</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-success">Success</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danger Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Danger, colored badge use <code>.badge-danger</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-danger">Danger</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Info, colored badge use <code>.badge-info</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-info">Info</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Warning Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Warning, colored badge use <code>.badge-warning</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-warning">Warning</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Light Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Light, colored badge use <code>.badge-light</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-light">Light</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Dark Badge</h4>
                    <p>Use <code>.badge</code> class to get badge. For Dark, colored badge use <code>.badge-dark</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-dark">Dark</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Basic Badges Starts-->

<!--Badge With Components Starts-->
<section id="component-badges">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Badge With Components</div>
            <p class="content-sub-header">Easily highlight new or unread items by adding a <code>&lt;span class="badge"&gt;</code> to links, Bootstrap navs, and more.</p>
        </div>
    </div>
    <div class="row text-left" matchHeight ="card">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Badge with Link</h4>
                    <p>Use badge class in anchor tag for badge with link.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <a>Inbox <span class="badge badge-secondary">42</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Badge with button</h4>
                    <p>Use badge class in button tag for badge with button.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <button class="btn btn-danger btn-raised" type="button">
                            Messages <span class="badge badge-light">4</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Adapts to active nav states</h4>
                    <p>Built-in styles are included for placing badges in active states in pill navigations.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" class="nav-item"><a class="nav-link active">Home <span class="badge badge-success">42</span></a></li>
                            <li role="presentation" class="nav-item"><a class="nav-link">Profile</a></li>
                            <li role="presentation" class="nav-item"><a class="nav-link">Messages <span class="badge badge-warning">3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Badge With Components Starts-->

<!--Pill Badges Starts-->
<section id="pill-badges">
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Pill Badges</div>
        </div>
    </div>
    <div class="row text-left" matchHeight ="card">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Primary Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Primary, colored badge use <code>.badge-primary</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-primary">25</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Secondary Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Secondary, colored badge use <code>.badge-secondary</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-secondary">85</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Success Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Success, colored badge use <code>.badge-success</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-success">41</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Danger Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Danger, colored badge use <code>.badge-danger</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-danger">36</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Info Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Info, colored badge use <code>.badge-info</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-info">77</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Warning Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Warning, colored badge use <code>.badge-warning</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-warning">30</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Light Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Light, colored badge use <code>.badge-light</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-light">45</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Dark Badge</h4>
                    <p>Use <code>.badge-pill</code> class to get badge pill. For Dark, colored badge use <code>.badge-dark</code> class.</p>
                </div>
                <div class="card-body">
                    <div class="card-block text-center">
                        <span class="badge badge-pill badge-dark">37</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Pill Badges Starts-->