<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
	<div class="row text-left">
        <div class="col-sm-12">
            <div class="content-header">Horizontal Forms</div>
        </div>
    </div>
	<div class="row text-left">
	    <div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-basic">Project Info</h4>
	                <p class="mb-0">This is the basic horizontal form with labels on left and form controls on right in one line. Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. To define form sections use <code>form-section</code> class with any heading tags.</p>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
	                    <form class="form form-horizontal">
	                    	<div class="form-body">
	                    		<h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
			                    <div class="form-group row">
	                            	<label class="col-md-3 label-control" for="projectinput1">First Name: </label>
		                            <div class="col-md-9">
		                            	<input type="text" id="projectinput1" class="form-control"  name="fname">
		                            </div>
		                        </div>
		                        <div class="form-group row">
	                            	<label class="col-md-3 label-control" for="projectinput2">Last Name: </label>
									<div class="col-md-9">
	                            		<input type="text" id="projectinput2" class="form-control"  name="lname">
	                            	</div>
		                        </div>

		                        <div class="form-group row">
		                            <label class="col-md-3 label-control" for="projectinput3">E-mail: </label>
		                            <div class="col-md-9">
		                            	<input type="text" id="projectinput3" class="form-control"  name="email">
		                            </div>
		                        </div>

		                        <div class="form-group row">
		                            <label class="col-md-3 label-control" for="projectinput4">Contact Number: </label>
		                            <div class="col-md-9">
		                            	<input type="text" id="projectinput4" class="form-control"  name="phone">
		                            </div>
		                        </div>

								<h4 class="form-section"><i class="ft-file-text"></i> Requirements</h4>

		                        <div class="form-group row">
									<label class="col-md-3 label-control" for="projectinput5">Company: </label>
									<div class="col-md-9">
		                            	<input type="text" id="projectinput5" class="form-control"  name="company">
		                            </div>
		                        </div>

		                        <div class="form-group row">
		                        	<label class="col-md-3 label-control" for="projectinput6">Interested in: </label>
		                        	<div class="col-md-9">
			                            <select id="projectinput6" name="interested" class="form-control">
			                                <option value="none" selected="" disabled="">Interested in</option>
			                                <option value="design">design</option>
			                                <option value="development">development</option>
			                                <option value="illustration">illustration</option>
			                                <option value="branding">branding</option>
			                                <option value="video">video</option>
			                            </select>
		                            </div>
		                        </div>

		                        <div class="form-group row">
		                        	<label class="col-md-3 label-control" for="projectinput7">Budget: </label>
		                        	<div class="col-md-9">
			                            <select id="projectinput7" name="budget" class="form-control">
			                                <option value="0" selected="" disabled="">Budget</option>
			                                <option value="less than 5000$">less than 5000$</option>
			                                <option value="5000$ - 10000$">5000$ - 10000$</option>
			                                <option value="10000$ - 20000$">10000$ - 20000$</option>
			                                <option value="more than 20000$">more than 20000$</option>
			                            </select>
		                            </div>
		                        </div>

								<div class="form-group row">
									<label class="col-md-3 label-control">Select File: </label>
									<div class="col-md-9">
										<label id="projectinput8" class="file center-block">
											<input type="file" id="file">
											<span class="file-custom"></span>
										: </label>
									</div>
								</div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="projectinput9">About Project: </label>
									<div class="col-md-9">
										<textarea id="projectinput9" rows="5" class="form-control" name="comment" ></textarea>
									</div>
								</div>
							</div>

	                        <div class="form-actions">
	                            <button type="button" class="btn btn-raised btn-warning mr-1">
	                            	<i class="ft-x"></i> Cancel
	                            </button>
	                            <button type="button" class="btn btn-raised btn-primary">
	                                <i class="fa fa-check-square-o"></i> Save
	                            </button>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row text-left">
		<div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-colored-controls">User Profile</h4>
	                <p class="mb-0">This is 2-columns horizontal form with labels on left and form controls on right in one line. Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. User can also change the border color and background color of the form control. Add <code>border-*</code> class to change border color and <code>bg-*</code> class to change background color of the form control.</p>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
					    <form class="form form-horizontal">
	                    	<div class="form-body">
	                    		<h4 class="form-section"><i class="ft-info"></i> About User</h4>
	                    		<div class="row">
	                    			<div class="col-md-6">
				                        <div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput1">First Name: </label>
				                        	<div class="col-md-9">
				                            	<input type="text" id="userinput1" class="form-control border-primary"  name="firstname">
				                            </div>
				                        </div>
				                    </div>
				                    <div class="col-md-6">
				                        <div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput2">Last Name: </label>
				                        	<div class="col-md-9">
				                            	<input type="text" id="userinput2" class="form-control border-primary"  name="lastname">
			                        		</div>
				                        </div>
			                        </div>
		                        </div>
		                        <div class="row">
		                        	<div class="col-md-6">
			                        	<div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput3">Username: </label>
				                        	<div class="col-md-9">
				                            	<input type="text" id="userinput3" class="form-control border-primary"  name="username">
			                        		</div>
			                       		</div>
			                       	</div>
			                       	<div class="col-md-6">
				                        <div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput4">Nick Name: </label>
				                        	<div class="col-md-9">
				                            	<input type="text" id="userinput4" class="form-control border-primary"  name="nickname">
			                        		</div>
				                        </div>
				                    </div>
		                        </div>

		                        <h4 class="form-section"><i class="ft-mail"></i> Contact Info & Bio</h4>

		                        <div class="row">
		                        	<div class="col-md-6">
		                        		<div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput5">Email: </label>
				                        	<div class="col-md-9">
												<input class="form-control border-primary" type="email"  id="userinput5">
				                        	</div>
					                    </div>

					                    <div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput6">Website: </label>
				                        	<div class="col-md-9">
												<input class="form-control border-primary" type="url"  id="userinput6">
											</div>
										</div>

										<div class="form-group row">
				                        	<label class="col-md-3 label-control">Contact Number: </label>
				                        	<div class="col-md-9">
												<input class="form-control border-primary" type="tel"  id="userinput7">
											</div>
				                        </div>
		                        	</div>
		                        	<div class="col-md-6">
		                        		<div class="form-group row">
				                        	<label class="col-md-3 label-control" for="userinput8">Bio: </label>
				                        	<div class="col-md-9">
				                            	<textarea id="userinput8" rows="6" class="form-control col-md-9 border-primary" name="bio" ></textarea>
				                           	</div>
				                        </div>
		                        	</div>
		                        </div>
							</div>

	                        <div class="form-actions right">
	                            <button type="button" class="btn btn-raised btn-warning mr-1">
	                            	<i class="ft-x"></i> Cancel
	                            </button>
	                            <button type="button" class="btn btn-raised btn-primary">
	                                <i class="fa fa-check-square-o"></i> Save
	                            </button>
	                        </div>
	                    </form>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row text-left">
		<div class="col-md-12">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-icons">Timesheet</h4>
	                <p class="mb-0">Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. This horizontal form shows the use of icons with form controls. Define the position of the icon using <code>has-icon-left</code> or <code>has-icon-right</code> class. Use <code>icon-*</code> class to define the icon for the form control. See Icons sections for the list of icons you can use. </p>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
	                    <form class="form form-horizontal">
	                    	<div class="form-body">
	                			<div class="form-group row">
		                            <label class="col-md-3 label-control" for="timesheetinput1">Employee Name: </label>
		                            <div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="text" id="timesheetinput1" class="form-control"  name="employeename">
				                            <div class="form-control-position">
				                                <i class="ft-user"></i>
				                            </div>
			                            </div>
		                            </div>
		                        </div>
	                			<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="timesheetinput2">Project Name: </label>
	                            	<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="text" id="timesheetinput2" class="form-control"  name="projectname">
				                            <div class="form-control-position">
				                                <i class="fa fa-briefcase"></i>
				                            </div>
			                            </div>
			                    	</div>
		                        </div>

		                        <div class="form-group row">
	                        		<label class="col-md-3 label-control" for="timesheetinput3">Date: </label>
	                        		<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="date" id="timesheetinput3" class="form-control" name="date">
				                            <div class="form-control-position">
				                                <i class="ft-message-square"></i>
				                            </div>
			                            </div>
			                        </div>
		                        </div>

		                    	<div class="form-group row">
	                        		<label class="col-md-3 label-control">Rate Per Hour: </label>
	                        		<div class="col-md-9">
			                            <div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">$</span>
											</div>
											<input type="text" class="form-control"  aria-label="Amount (to the nearest dollar)" name="rateperhour">
											<div class="input-group-append">
												<span class="input-group-text">.00</span>
											</div>
										</div>
									</div>
		                        </div>

								<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="timesheetinput5">Start Time: </label>
	                            	<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="time" id="timesheetinput5" class="form-control" name="starttime">
				                            <div class="form-control-position">
				                                <i class="ft-clock"></i>
				                            </div>
			                            </div>
			                        </div>
		                        </div>

		                        <div class="form-group row">
	                            	<label class="col-md-3 label-control" for="timesheetinput6">End Time: </label>
	                            	<div class="col-md-9">
			                            <div class="position-relative has-icon-left">
			                            	<input type="time" id="timesheetinput6" class="form-control" name="endtime">
				                            <div class="form-control-position">
				                                <i class="ft-clock"></i>
				                            </div>
			                            </div>
			                        </div>
		                        </div>

								<div class="form-group row">
									<label class="col-md-3 label-control" for="timesheetinput7">Notes: </label>
									<div class="col-md-9">
										<div class="position-relative has-icon-left">
			                            	<textarea id="timesheetinput7" rows="5" class="form-control" name="notes" ></textarea>
				                            <div class="form-control-position">
				                                <i class="ft-file"></i>
				                            </div>
			                            </div>
			                        </div>
								</div>
							</div>

	                        <div class="form-actions right">
	                            <button type="button" class="btn btn-raised btn-warning mr-1">
	                            	<i class="ft-x"></i> Cancel
	                            </button>
	                            <button type="button" class="btn btn-raised btn-primary">
	                                <i class="fa fa-check-square-o"></i> Save
	                            </button>
	                        </div>
	                    </form>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="row text-left justify-content-md-center">
		<div class="col-md-6">
	        <div class="card">
	            <div class="card-header">
	                <h4 class="card-title" id="horz-layout-card-center">Event Registration</h4>
	                <p class="mb-0">Add <code>.form-horizontal</code> class to the form tag to have horizontal form styling. This is horizontal form demo with centered card. Here we have used <code>.justify-content-md-center .row</code> classes to center the card as its not full width. User can always change column classes according to his requirements.</p>
	            </div>
	            <div class="card-body">
	                <div class="px-3">
						<form class="form form-horizontal">
							<div class="form-body">
	                			<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="eventRegInput1">Full Name: </label>
	                            	<div class="col-md-9">
	                            		<input type="text" id="eventRegInput1" class="form-control"  name="fullname">
	                            	</div>
		                        </div>

	                			<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="eventRegInput2">Title: </label>
	                            	<div class="col-md-9">
	                            		<input type="text" id="eventRegInput2" class="form-control"  name="title">
	                            	</div>
		                        </div>

	                			<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="eventRegInput3">Company: </label>
	                            	<div class="col-md-9">
	                            		<input type="text" id="eventRegInput3" class="form-control"  name="company">
	                            	</div>
		                        </div>

	                			<div class="form-group row">
	                            	<label class="col-md-3 label-control" for="eventRegInput4">Email: </label>
	                            	<div class="col-md-9">
	                            		<input type="email" id="eventRegInput4" class="form-control"  name="email">
	                            	</div>
		                        </div>

		                        <div class="form-group row">
	                        		<label class="col-md-3 label-control" for="eventRegInput5">Contact Number: </label>
	                        		<div class="col-md-9">
	                            		<input type="tel" id="eventRegInput5" class="form-control" name="contact" >
	                            	</div>
		                        </div>

		                    	<div class="form-group row">
	                        		<label class="col-md-3 label-control">Existing Customer: </label>
	                        		<div class="col-md-9">
										<div class="input-group col-md-9">
											<div class="custom-control custom-radio display-inline-block">
												<input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
												<label class="custom-control-label" for="customRadioInline1">Yes</label>
											</div>
											<div class="custom-control custom-radio display-inline-block">
												<input type="radio" id="customRadioInline2" checked name="customRadioInline1" class="custom-control-input">
												<label class="custom-control-label" for="customRadioInline2">No</label>
											</div>
										</div>
									</div>
		                        </div>
							</div>

							<div class="form-actions center">
	                            <button type="button" class="btn btn-raised btn-warning mr-1">
	                            	<i class="ft-x"></i> Cancel
	                            </button>
	                            <button type="button" class="btn btn-raised btn-primary">
	                                <i class="fa fa-check-square-o"></i> Save
	                            </button>
	                        </div>
						</form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</section>
<!-- // Basic form layout section end -->