#notification-sidebar{
	width: 400px;
    right: -400px;
	padding: 0;
    background-color: #FFF;
	z-index: 1051;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    transition: right 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    backface-visibility: hidden;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

	&.open{
		right: 0;
	}

	.notification-sidebar-content{
		position: relative;
    	height: 100%;
    	padding: 10px;

    	#timeline{
    		&.timeline-left{
    			.timeline-item{
    				&:before{
						border:none;
    				}
    				&:after{
						border:none;
    				}
    			}
    		}
    	}
	}

	a.notification-sidebar-toggle{
		background: #FFF;
		color:theme-color('primary');
		display: block;
    	box-shadow: -3px 0px 8px rgba(0, 0, 0, 0.1);
	}
	a.notification-sidebar-close {
    	color: #000;
	}
	.notification-sidebar-close{
		position: absolute;
	    right: 10px;
	    top: 10px;
	    padding: 7px;
	    width: auto;
	    z-index: 10;
	}
	.notification-sidebar-toggle{
		position: absolute;
	    top: 35%;
	    width: 54px;
	    height: 50px;
	    left: -54px;
	    text-align: center;
	    line-height: 50px;
	    cursor: pointer;
	}
	

	

}

[dir="rtl"] :host ::ng-deep{
	#notification-sidebar{	
		left: -400px;	
		right: auto;	   
		&.open{
			left: 0;
			right: auto;
		}
		.notification-sidebar-close{
			left: 10px;
			right: auto;
		}
		.notification-sidebar-toggle{	
			right: -54px;
			left: auto;
		}	
	}
}