<section id="tabs">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Policies</div>
    </div>
  </div>

<button type='text' style='padding:8px;margin:20px auto;width:15%;margin-left: 1030px;'>Add Policy </button>
<div class="row text-left">
  <!--Pills Starts-->
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <ngb-tabset type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>App policies</ng-template>
              <ng-template ngbTabContent>
                <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="rows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>
                        </div>
                    </div>
                </section>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Wifi policies</ng-template>
              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="wifirows" [loadingIndicator]="loadingIndicator" [columns]="wificolumns" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>


                        </div>
                    </div>
                </section></ng-template>
            </ngb-tab>
            <!-- <ngb-tab>
              <ng-template ngbTabTitle>Device policies</ng-template>

            </ngb-tab>
            <ngb-tab> <ng-template ngbTabTitle>Branding policies</ng-template>
              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="brandingrows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>
                        </div>
                    </div>
                </section></ng-template>
            </ngb-tab>
            <ngb-tab> <ng-template ngbTabTitle>Sync Policies</ng-template>
              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="syncrows" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>
                        </div>
                    </div>
                </section></ng-template>
            </ngb-tab> -->
          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <!--Pills Ends-->
</div>
</section>
