<section id="alert">
    <div class="row match-height text-left">
        <div class="col-sm-12">
            <div class="content-header">Alerts</div>
            <p class="content-sub-header">Provide contextual feedback messages for typical user actions with the handful of available and flexible alert messages.</p>
        </div>
    </div>
    <!--Alert States Starts-->
    <div class="row match-height text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Alert States</h4>
                    <p>Wrap any text and an optional dismiss button in <code>.alert</code> and one of the four contextual classes (e.g., <code>.alert-COLOR</code>) for basic colored alert messages.</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngb-alert type="primary" [dismissible]="false">
                            <strong>Primary!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert type="secondary" [dismissible]="false">
                            <strong>Secondary!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert type="success" [dismissible]="false">
                            <strong>Success!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert type="danger" [dismissible]="false">
                            <strong>Danger!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert type="info" [dismissible]="false">
                            <strong>Info!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert [dismissible]="false">
                            <strong>Warning!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert type="light" [dismissible]="false">
                            <strong>Light!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                        <ngb-alert type="dark" [dismissible]="false">
                            <strong>Dark!</strong> Better check yourself, you're not looking too good.
                        </ngb-alert>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Alert States Ends-->
    
    <!--Closable Alert Starts-->
    <div class="row match-height text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Closable Alert</h4>
                    <p></p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div *ngFor="let alert of alerts">
                            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)">{{ alert.message }}</ngb-alert>
                        </div>
                        <p>
                            <button type="button" class="btn btn-primary btn-raised" (click)="reset()">Reset</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Closable Alert Ends-->
    
    <!--Self-Closing Alert Section starts-->
    <div class="row match-height text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Self-Closing Alert</h4>
                    <p>Static self-closing alert that disappears after 20 seconds (refresh the page if it has already disappeared)</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ngb-alert *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">Check out our awesome new features!</ngb-alert>

                        <hr/>

                        <p>Show a self-closing success message that disappears after 5 seconds.</p>
                        <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
                        <p>
                            <button class="btn btn-primary btn-raised" (click)="changeSuccessMessage()">Change message</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Self-Closing Alert Section Ends-->
    
    <!--Custom Alert Starts-->
    <div class="row match-height text-left">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Custom Alert</h4>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <p>
                            <ngb-alert type="custom" [dismissible]="false"><strong>Whoa!</strong> This is a custom alert.</ngb-alert>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Custom Alert Ends-->    
</section>