<section id="tabs">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Device Enrollment </div>
    </div>
  </div>

<button *ngIf="preapproveddevice == 'true'" type='text' (click)="open(content)" style='padding:8px;margin:20px auto;width:15%;margin-left: 828px;'>Add Device</button>
<button *ngIf="licencekey == 'true'" type='text' (click)="openlicence(contentlicenced)" style='padding:8px;margin:20px auto;width:15%;margin-left: 828px;'>Add Licence</button>
<div class="row text-left">
  <!--Pills Starts-->
  <div class="col-md-12 col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <ngb-tabset (tabChange)="enablepreapproved($event)" type="pills">
            <ngb-tab>
              <ng-template ngbTabTitle>Pre-Approved Devices</ng-template>
              <ng-template ngbTabContent>
                <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="" [loadingIndicator]="loadingIndicator" [columns]="columns" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>
                        </div>
                    </div>
                </section>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Licence Keys</ng-template>
              <ng-template ngbTabContent>  <section id="basic-datatable" class="mb-3">
                    <div class="row">
                        <div class="col-sm-12">
                            <ngx-datatable class="bootstrap" [rows]="" [loadingIndicator]="loadingIndicator" [columns]="columnslicenced" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [reorderable]="reorderable">
                            </ngx-datatable>


                        </div>
                    </div>
                </section></ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div>
  </div>
  <!--Pills Ends-->
</div>
</section>

 <!-- dailog box for adding device  -->
        <div class="card-body">
            <div class="card-block">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Device</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                      	<div class="row text-left justify-content-md-center">
                      		<div class="">
                      			<div class="" style="width:400px">
                      				<div class="card-body">
                      					<div class="px-3">
                      						<form class="form">
                      							<div class="form-body">

                      								<div class="form-group">
                      									<label for="eventRegInput1">IMEI Number</label>
                      									<input type="text" id="eventRegInput1" class="form-control"  name="fullname">
                      								</div>
                      							</div>
                      							<div class="form-actions center">
                      								<button type="button" class="btn btn-raised btn-warning mr-1">
                      									<i class="ft-x"></i> Cancel
                      								</button>
                      								<button type="button" class="btn btn-raised btn-primary">
                      									<i class="fa fa-check-square-o"></i> Save
                      								</button>
                      							</div>
                      						</form>
                      					</div>
                      				</div>
                      			</div>
                      		</div>
                      	</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
            </div>
        </div>
<!-- dailog box for adding licence  -->

        <div class="card-body">
            <div class="card-block">
                <ng-template #contentlicenced let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Licence</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                      	<div class="row text-left justify-content-md-center">
                      		<div class="">
                      			<div class="" style="width:400px">
                      				<div class="card-body">
                      					<div class="px-3">
                      						<form class="form">
                      							<div class="form-body">

                      								<div class="form-group">
                      									<label for="eventRegInput1"> Licence Key</label>
                      									<input type="text" id="eventRegInput1" class="form-control"  name="fullname">
                      								</div>
                                      <label for="eventRegInput2">Type</label>
                      								<div class="form-group">

                                        <div style="max-width: 100%"class="col-xl-4 col-lg-12 col-md-12">
        		                                <fieldset class="form-group">

        		                                    <select class="form-control" id="basicSelect">
        		                                      <!-- <option>Select Option</option> -->
        		                                      <option>carbon</option>
        		                                    </select>
        		                                </fieldset>
        		                            </div>
                      									<!-- <input type="text" id="eventRegInput2" class="form-control"  name="title"> -->
                      								</div>

                                      <div class="form-group">
                      									<label for="eventRegInput2">Number Of Licenses</label>
                      									<input type="text" id="eventRegInput2" class="form-control"  name="title">
                      								</div>


                      							</div>

                      							<div class="form-actions center">
                      								<button type="button" class="btn btn-raised btn-warning mr-1">
                      									<i class="ft-x"></i> Cancel
                      								</button>
                      								<button type="button" class="btn btn-raised btn-primary">
                      									<i class="fa fa-check-square-o"></i> Save
                      								</button>
                      							</div>
                      						</form>
                      					</div>
                      				</div>
                      			</div>
                      		</div>
                      	</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>
            </div>
        </div>
