<!-- Filter Datatable Options Starts -->
<section id="filter" class="mb-3">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">Policy </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter '
            />
            <!-- <button type='text' style='padding:8px;margin:20px auto;width:15%;margin-left: 1030px;'>Add Policy </button> -->
            <button type='text'class="btn btn-social btn-min-width mr-2 mb-2 btn-reddit" (click)="open(content)" style='margin-left: 830px;'><span class="ft ft-plus"></span>Add Policy </button>

            <!-- <button type='text' style='padding:8px;margin:20px auto;width:15%;margin-left: 520px;'>Add  </button> -->
            <ngx-datatable #table class='bootstrap' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="'auto'" [limit]="10" [rows]='rows' [selected]="selected" [selectionType]="'cell'" (select)="onSelect($event)">
            </ngx-datatable>
        </div>

        <!-- Button trigger modal -->

    </div>
</section>
<!-- Filter Datatable Options Ends -->

        <div class="card-body">
            <div class="card-block">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Policy</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">


                      	<div class="row text-left justify-content-md-center">
                      		<div class="">
                      			<div class="" style="width:400px">
                      				<div class="card-body">
                      					<div class="px-3">
                      						<form class="form">
                      							<div class="form-body">

                      								<div class="form-group">
                      									<label for="eventRegInput1">Policy Name</label>
                      									<input type="text" id="eventRegInput1" class="form-control"  name="fullname">
                      								</div>

                      								<div class="form-group">
                      									<label for="eventRegInput2">Policy Description</label>
                      									<input type="text" id="eventRegInput2" class="form-control"  name="title">
                      								</div>


                      							</div>

                      							<div class="form-actions center">
                      								<button type="button" class="btn btn-raised btn-warning mr-1">
                      									<i class="ft-x"></i> Cancel
                      								</button>
                      								<button type="button" class="btn btn-raised btn-primary">
                      									<i class="fa fa-check-square-o"></i> Save
                      								</button>
                      							</div>
                      						</form>
                      					</div>
                      				</div>
                      			</div>
                      		</div>
                      	</div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
                    </div>
                </ng-template>

            </div>
        </div>
